page-list {
    .card-detail-page{
    background: url("../assets/img/back-min.png") no-repeat center;
    background-size: cover;
    }

    .list{
        border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: rgb(0, 0, 0); 
    }
}
