<ion-header>
    <ion-navbar>
      <ion-title></ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>

        <ion-list class="accordion-list">
          <!-- First Level -->
          <ion-list-header *ngFor="let item of menuTypes | async; let i = index" no-lines no-padding>
            <!-- Toggle Button -->
            <button ion-item (click)="shower(i)" [ngClass]="{'section-active': show[i], 'section': !show[i]}">
              <ion-icon item-left name="arrow-forward" *ngIf="!show[i]"></ion-icon>
              <ion-icon item-left name="arrow-down" *ngIf="show[i]"></ion-icon>
                {{ item.type }}
          </button>
          
            
            <ion-list *ngIf="item.children && show[i]">
                <!-- Third Level -->
                <div *ngFor="let child of item.children, let j = index" detail-none class="child-item" text-wrap>
                  <ion-item *ngIf="!(allergies.wheat && child.wheat == 'TRUE') && !(allergies.peanuts && child.peanuts == 'TRUE') 
                  && !(allergies.treenuts && child.treenuts == 'TRUE') && !(allergies.soy && child.soy == 'TRUE')
                  && !(allergies.milk && child.milk == 'TRUE') && !(allergies.eggs && child.eggs == 'TRUE')
                  && !(allergies.shellfish && child.shellfish == 'TRUE') && !(allergies.fish && child.fish == 'TRUE')">
                  
                
                    
                  <button ion-item (click)="addToCart(child.menuItem, i, j)">
                      <ion-icon *ngIf="checked[i][j] == true && clear == false" name='star'> </ion-icon>
                    
                      {{ child.menuItem }}
                   
                    <ion-item *ngIf="child.desc">
                      {{child.desc}}
                    </ion-item>
                    
                    </button>
                 
                  <!-- Direct Add Button -->
                 
                </ion-item>
              </div>
              </ion-list>
    
       
              </ion-list-header>
            </ion-list>
    


          
            </ion-content>



  <!--
    <ion-list>
        Safe items:
        <ion-item *ngFor="let food of menuTypes | async">
           <button ion-button>{{food.type}}</button>
           </ion-item>
           </ion-list>
          -->
<!--
  <ion-list>
    User reviews:
    <ion-item *ngFor="let review of reviewsObservable | async">
      
        <ion-avatar item-start>
          <img [src]="review.profile"/>
          <h2>{{review.name}}</h2>
        </ion-avatar>

       

        <div item-content>
           <p style=""> {{review.details}} </p>
          </div>
        
        
          <div item-end>

          </div>

      
    </ion-item>
  </ion-list>

-->