page-item-detail {
  .card-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .card-detail {
    width: 100%;
    background: white;
    position: absolute;
    
  }

  .review-items{
    width: 100%;
    background: bisque;
    position: absolute;
    
  }
  .test{
   
    font-size: 45pt;
  
  }
}
