<ion-header>
    <ion-navbar>
        <ion-title>
            <img src="../assets/img/logo-new.png" width="40px" style="display:inline-block" height="40px"/>
          </ion-title>
    </ion-navbar>
  </ion-header>
  

  <ion-content class="card-detail-page">

    <div class="header-pic">




        <img [src]="item.profilePic" id="card-pic">

        <div class="heading-new">
            {{item.name}}
        </div>

        <div class="subheading">
            {{item.address}} 
        </div>


        <button ion-button id="but">
            <ion-icon name='call'></ion-icon>
            <a id="link" [href]="item.number">Call Restaurant</a>
            </button>
            

            <div class="round-star-label"></div>
            <div class="percentage">
              {{item.percent}} %
             
             
            </div>

            <div class="allergen-free">
                allergen 
                <br>
                free
              </div>
     
            <div class="warning"> <b> <p id="text">Please note that this information is only a guide. It is important to still declare 
                your allergy information to your server.</p>
              </b></div>

              <div class="green">
                  Green = free of allergens
                </div>


                <div class="red">
                    Red = contains allergens
                  </div>
                
              

</div>



   

        <ion-list class="accordion-list">
        
          <ion-list *ngFor="let item of menuTypes | async; let i = index" no-lines no-padding>
           
            <button ion-item (click)="shower(i)" [ngClass]="{'section-active': show[i], 'section': !show[i]}" detail-none>
              <ion-icon item-left name="arrow-forward" *ngIf="!show[i]"></ion-icon>
              <ion-icon item-left name="arrow-down" *ngIf="show[i]"></ion-icon>
                {{ item.type }}
          </button>
          
            
            <ion-list *ngIf="item.children && show[i]">
            
                <div *ngFor="let child of item.children, let j = index" detail-none class="child-item" text-wrap>
                  
                  <!-- <ion-item *ngIf="!(allergies.wheat && child.wheat == 'TRUE') && !(allergies.peanuts && child.peanuts == 'TRUE') 
                  && !(allergies.treenuts && child.treenuts == 'TRUE') && !(allergies.soy && child.soy == 'TRUE')
                  && !(allergies.milk && child.milk == 'TRUE') && !(allergies.eggs && child.eggs == 'TRUE')
                  && !(allergies.shellfish && child.shellfish == 'TRUE') && !(allergies.fish && child.fish == 'TRUE')">
                  
                  -->

                  <ion-item [ngClass]="!(allergies.wheat && child.wheat == 'TRUE') && !(allergies.peanuts && child.peanuts == 'TRUE') 
                  && !(allergies.treenuts && child.treenuts == 'TRUE') && !(allergies.soy && child.soy == 'TRUE')
                  && !(allergies.milk && child.milk == 'TRUE') && !(allergies.eggs && child.eggs == 'TRUE')
                  && !(allergies.shellfish && child.shellfish == 'TRUE') && !(allergies.fish && child.fish == 'TRUE') ? 'safe' : 'unsafe'">
                    
                  <button ion-item (click)="addToCart(child.menuItem, i, j)" detail-none [ngClass]="!(allergies.wheat && child.wheat == 'TRUE') && !(allergies.peanuts && child.peanuts == 'TRUE') 
                  && !(allergies.treenuts && child.treenuts == 'TRUE') && !(allergies.soy && child.soy == 'TRUE')
                  && !(allergies.milk && child.milk == 'TRUE') && !(allergies.eggs && child.eggs == 'TRUE')
                  && !(allergies.shellfish && child.shellfish == 'TRUE') && !(allergies.fish && child.fish == 'TRUE') ? 'safe' : 'unsafe'">
                      

                  
                  <div class="itemdesc">
                      <ion-icon class="star" *ngIf="cart.fav[index1][i][j] == true" name='star'> </ion-icon>
                    
                   {{ child.menuItem }}
                   

                  </div>
                    <p class="itemdesc" *ngIf="child.desc">
                      {{child.desc}}

                      </p>

                      <p class="itemdesc" *ngIf="allergies.milk && child.milk == 'TRUE'">
                        CONTAINS MILK
                      </p>

                      <p class="itemdesc" *ngIf="allergies.treenuts && child.treenuts == 'TRUE'">
                          CONTAINS TREENUTS
                        </p>

                        <p  class="itemdesc" *ngIf="allergies.wheat && child.wheat == 'TRUE'">
                            CONTAINS GLUTEN
                          </p>

                          <p  class="itemdesc" *ngIf="allergies.soy && child.soy == 'TRUE'">
                              CONTAINS SOY
                            </p>


                            <p  class="itemdesc" *ngIf="allergies.fish && child.fish == 'TRUE'">
                                CONTAINS FISH
                              </p>

                              <p  class="itemdesc" *ngIf="allergies.shellfish && child.shellfish == 'TRUE'">
                                  CONTAINS SHELLFISH
                                </p>

                                <p  class="itemdesc" *ngIf="allergies.eggs && child.eggs == 'TRUE'">
                                    CONTAINS EGGS
                                  </p>

                                  <p  class="itemdesc" *ngIf="allergies.peanuts && child.peanuts == 'TRUE'">
                                      CONTAINS EGGS
                                    </p>
    
  


                    
                    
                    </button>
                 
            
                 
                </ion-item>
              </div>
              </ion-list>
            
       
              </ion-list>
            </ion-list>
    


          
            </ion-content>



  <!--
    <ion-list>
        Safe items:
        <ion-item *ngFor="let food of menuTypes | async">
           <button ion-button>{{food.type}}</button>
           </ion-item>
           </ion-list>
          -->
<!--
  <ion-list>
    User reviews:
    <ion-item *ngFor="let review of reviewsObservable | async">
      
        <ion-avatar item-start>
          <img [src]="review.profile"/>
          <h2>{{review.name}}</h2>
        </ion-avatar>

       

        <div item-content>
           <p style=""> {{review.details}} </p>
          </div>
        
        
          <div item-end>

          </div>

      
    </ion-item>
  </ion-list>

-->