page-card-detail {

  .accordion-list {
    background: color($colors, light);
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.section {
    background: rgb(47, 233, 78);
    color: #000;
    margin-bottom: 4px;
}
.section-active {
    background: #ffc400;
    color: #fff;
}

.child {
    background: #e8e7e6;
    color: #000;
    margin-bottom: 4px;
}
.child-item {
    background: #f3f2f1;
    padding: 10px;
}
.label {
  background: #ffc400;
  color: #fff;
}
.list {
    margin-bottom: 4px;
}

}



