

<ion-header>
  <ion-navbar>
      <ion-title>
          <img src="../assets/img/logo-new.png" width="40px" style="display:inline-block" height="40px"/>
        </ion-title>
  </ion-navbar>
</ion-header>


<ion-content  class="card-background-page" >

  

  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search for specific restaurants"></ion-searchbar>
  <div id="searchBar">
   <ion-list>
     <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
       <ion-avatar item-start>
         <img [src]="item.profilePic" />
       </ion-avatar>
       <h2>{{item.name}}</h2>
       <p>{{item.about}}</p>
     </button>
   </ion-list>
   </div>









  <ion-card *ngFor="let item of cardItems" type="button" (click)="openItem(item)">

    
    <img id="cardimg" [src]="item.profilePic">
  <div class="card-title"> {{item.name}} </div>
  <div class="card-subtitle"> <b>{{item.about}}</b> </div>

    <div class="card-dist">
            <button ion-button color="light" clear small icon-start>
            <ion-icon name='compass'></ion-icon>
            {{item.distance}} miles away
            
          </button>
        </div>
  </ion-card>



</ion-content>